body {
    font-family: 'Roboto', sans-serif;
}

/* Header section style  */
.weather-header {
    background-color: black;
}


/* Aside section style  */
.form-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 0.5px;
}

.search-button {
    background-color: rgb(226, 226, 204);
    margin-top: 10px;
    width: 100%;
    
}

.search-button:hover {
   background-color: blanchedalmond;
}

/* Today section style */
#today {
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.287);
    border-radius: 5px;
    margin-bottom: 20px;
}

.today-title {
    display: flex;
    align-items: center;
}

.today-title > img {
    height: 70px;
    padding-bottom: 10px;
    
}


/* Forecast section style */


#forecast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
}


.hidden {
    display: none;
}

.forecast-title { 
    font-size: 20px;
}


.dayCard {
    text-align: center;
    border-radius: 5px;
    background: rgba(81, 85, 105, 0.15);
    padding: 10px;
}

.dayCard > img {
    height: 60px;
}




/* History styles */
#history > button {
    margin-top: 5px;
    border-radius: 5px;
    height: 40px;
    background: rgba(81, 85, 105, 0.15);
    border: none;
}

#history > button:hover {
    background-color: blanchedalmond;
}

